
.input1{
    display: none;
}

.input2{
    display: none;
}

.input3{
    display: none;
}

input:invalid[focused="true"] + .input1{
    display: block;
}
input:invalid[focused="true"] + .input2{
    display: block;
}
input:invalid[focused="true"] + .input3{
    display: block;
}
